Host github.com #single user for github
	User git
	Hostname github.com
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/github

Host account1 #Multiple git accounts
    User git
	Hostname github.com
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/github

Host account2
    User git
	Hostname github.com
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/github

Host example #standard ssh
	User exampleuser
	Hostname exampleip
	PreferredAuthentications publickey
	IdentityFile ~/.ssh/keyfile
	Port 22
